body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
.btn {
  padding: 10px 20px;
  background: yellow;

  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
}
.tabcontent {
  text-align: center;
  position: relative;
  padding: 20px;
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
  span {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.tab {
}
.tab button {
  border: none;
  outline: none;
  font-size: 30px;
  background: transparent;
  cursor: pointer;
  width: 25%;
  padding: 10px;
}
.tab button.active {
  background-color: #ccc;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
